  
   body{
    background-color:  rgb(235, 167, 79);
   }

    H1 {
      color: rgb(189, 205, 173);
      background-color: brown;
      font-family: 'Courier New';
    }

    p {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
 